<main class="container-fluid" role="main">
    <div class="container" style="padding-top: 20px;">
        <h1>Acknowledgements:</h1>
        <ul>
            <li><a class="link" href="https://unsplash.com/" target="_blank" rel="external noreferrer noopener">Unsplash</a> for the imagery.</li>
            <li>The Creative Commons Foundation for the permissive licensing scheme.</li>
            <li>Bootstrap v4.5 for the general CSS.</li>
            <li><a class="link" href="https://coolors.co/" target="_blank" rel="external noreferrer noopener">Coolors</a> for the color palate generator.</li>
            <li><a class="link" href="https://cssgradient.io/" target="_blank" rel="external noreferrer noopener">CSSGradient</a> for the useful gradient creation.</li>
            <li><a class="link" href="https://github.com/poliastro/poliastro" target="_blank" rel="external noreferrer noopener">Poliastro Python library</a> for the trajectory plots.</li>
        </ul>
    </div>

    <div class="container">
        <h1>Special Thanks:</h1>
        <p>Reading manuals, understanding vague/unhelpful code on Stackoverflow.com and 
            figuring out how it can be made into useful code, and the useful learning along the way helped write this Portfolio Project.</p>
    </div>
    
</main>
