html {
    font-size: 13pt;
    font-family: Helvetica, Arial, sans-serif;
}

form fieldset {
    border: 2px solid grey;
    line-height: 18px;
    }

    label.special {
        display: flex;
        align-items: center;
        border: 2px solid grey;
        padding: 3px;
    }
    
    fieldset p {
        border: 2px solid grey;
        padding: 3px;
    }

table {
    table-layout: auto;
    width: auto;
    border-collapse: collapse;
    border: 3px ridge gray;
    }

    tbody tr th {
        font-weight: normal;
        font-style: italic;
    }

    th, td {
        border: 3px ridge gray;
        padding: 5px;
    }

.outer-content {
    padding: 20px;
    width: 75%;
    background-color: pink;
    }

.inner-content {
    margin: auto;
    width: 75%;
    background-color: skyblue;
    text-align: center;
    }
