<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-3">
            <div class="container w-30 h-30">
                <p style="font-size: 0.9rem;font-style: italic;">
                    <img class="img-thumbnail" style="display: block;" src="https://live.staticflickr.com/5167/5199459537_054f51c176_b.jpg" alt="Jupiter Portrait">
                    <a href="https://www.flickr.com/photos/50647761@N07/5199459537">"Jupiter Portrait"</a><span> by <a href="https://www.flickr.com/photos/50647761@N07">NASASolarSystem</a></span> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY-NC-ND 2.0</a>
                    <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;">
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nc_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nd_icon.svg" /></a>
                </p>
            </div>
        </div>
        <div class="col-5 h-50">
            <h2>Jupiter</h2>
            <div class="factoid overflow-auto">
                <p class="lead">One of the Most Difficult Destinations in our Program.</p>
                <p>Some Facts:</p>
                {{!-- Facts from https://space-facts.com/mars/ --}}
                <ol>
                    <li>Distance from the Sun: 483.64 million miles</li>
                    <li>Since we can't land there, temps don't matter!</li>
                    <li>We will have a nice orbit around the Jovian system.</li>
                    <li>All of Jupiter's moons are fascinating in their own right.</li>
                </ol>
                <p>With our travel package, be assured that we can handle the any issue that Jupiter presents.</p>
                <p>We strive to present Jupiter in all his glory as we source the finest rockets to reach there in the shortest trips!</p>
                <p>Some more facts:</p>
                <ul>
                    <li>
                        This was around the 7th or 8th century BC. Jupiter is named after the king of the Roman gods. To the Greeks, it represented Zeus, the god of thunder. The Mesopotamians saw Jupiter as the god Marduk and patron of the city of Babylon. Germanic tribes saw this planet as Donar, or Thor.
                    </li>
                    <li>
                        Its rings are composed mainly of dust particles ejected from some of Jupiter’s smaller worlds during impacts from incoming comets and asteroids. The ring system begins some 92,000 kilometres above Jupiter’s cloud tops and stretches out to more than 225,000 km from the planet. They are between 2,000 to 12,500 kilometres thick.
                    </li>
                    <li>
                        The list of NASA craft to visit previously are Pioneer 10 and 11, Voyager 1 and 2, Galileo, Cassini, Ulysses, and New Horizons missons; Juno mission is currently there. Other future missions may focus on the Jovian moons Europa, Ganymede, and Callisto, and their subsurface oceans.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2 class="text-center">Possible Trajectories</h2>
    <div class="d-flex flex-column justify-content-lg-center mb-3">
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/jupiter1.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 4th of May, 2021</li>
                        <li>Arrival Date: 27th of January, 2024</li>
                    </ul>
                </div>
                
            </div>
           
        </div>
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/jupiter2.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 7th of June, 2022</li>
                        <li>Arrival Date: 1st of March, 2025</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/jupiter3.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 10th of July, 2023</li>
                        <li>Arrival Date: 4rd of April, 2026</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</div>