<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-3">
            <div class="container w-30 h-30">
                <p style="font-size: 0.9rem;font-style: italic;">
                    <img class="img-thumbnail" style="display: block;" src="https://live.staticflickr.com/7040/6968625795_584ce4164f_b.jpg" alt="Moon 9-3-12">
                    <a href="https://www.flickr.com/photos/61541424@N07/6968625795">"Moon 9-3-12"</a><span> by <a href="https://www.flickr.com/photos/61541424@N07">gaw101</a></span> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY 2.0</a>
                    <a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;">
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /></a>
                </p>
            </div>
        </div>
        <div class="col-5 h-50">
            <h2>Luna, or Earth's Moon</h2>
            <div class="factoid overflow-auto">
                <p class="lead">Hey, we're going there!</p>
                <p>Some Facts:</p>
                {{!-- Facts from https://space-facts.com/venus/ --}}
                <ol>
                    <li>Distance from Earth: 238,855 miles</li>
                    <li>1% the size of Earth, jumping is fun pasttime.</li>
                    <li>Suits are prepared for the surface temps.</li>
                    <li>We will return there in 2025.</li>
                </ol>
                <p>With our travel package, be assured that we can handle the short trip to Luna.</p>
                <p>We strive to present Venus in all her glory as we source the finest rockets to reach there in the shortest trips!</p>
                <p>Some more facts:</p>
                <ul>
                    <li>
                        n reality both sides of the Moon see the same amount of sunlight however only one face of the Moon is ever seen from Earth. This is because the Moon rotates around on its own axis in exactly the same time it takes to orbit the Earth, meaning the same side is always facing the Earth. The side facing away from Earth has only been seen by the human eye from spacecraft.
                    </li>
                    <li>
                        The first man to set foot on the Moon in 1969 was Neil Armstrong on the Apollo 11 mission, while the last man to walk on the Moon in 1972 was Gene Cernan on the Apollo 17 mission. Since then the Moon has only be visited by unmanned vehicles.
                    </li>
                    <li>
                        These are caused by the gravitational pull of the Earth. Lunar astronauts used seismographs on their visits to the Moon, and found that small moonquakes occurred several kilometres beneath the surface, causing ruptures and cracks. Scientists think the Moon has a molten core, just like Earth.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2 class="text-center">Possible Trajectories</h2>
    <div class="d-flex flex-column justify-content-lg-center mb-3">
        <div class="p-2 flex-fill text-center">
            <h3>Since the Moon is so close, trips every month are possible!</h3>
        </div>
        
    </div>
</div>