<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-3">
            <div class="container w-30 h-30">
                <p style="font-size: 0.9rem;font-style: italic;">
                    <img class="img-thumbnail" style="display: block;" src="assets/6859864719_5d68aedbd7.jpg" alt="Mars planet 1 (Nasa image enhanced)">
                    <a href="https://www.flickr.com/photos/47738026@N05/6859864719">"Mars planet 1 (Nasa image enhanced)"</a><span> by <a href="https://www.flickr.com/photos/47738026@N05">J.Gabás Esteban</a></span> is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY-NC-SA 2.0</a>
                    <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nc_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-sa_icon.svg" /></a>
                </p>
            </div>
        </div>
        <div class="col-5 h-50">
            <h2>Mars</h2>
            <div class="factoid overflow-auto">
                <p class="lead">One of the Most Realistic Destinations in our Program.</p>
                <p>Some Facts:</p>
                {{!-- Facts from https://space-facts.com/mars/ --}}
                <ol>
                    <li>Distance from the Sun: 129.17 million miles</li>
                    <li>15% the size of Earth, or you will weigh 1/3 of what you do now!</li>
                    <li>The surface temps vary from -87&deg;C to -5&deg;C, confortable in most suits</li>
                    <li>Earth &rightarrow; Mars 2035!</li>
                </ol>
                <p>With our travel package, be assured that we can handle the any issue that Mars presents.</p>
                <p>We strive to present Mars in all his glory as we source the finest rockets to reach there in the shortest trips!</p>
                <p>Some more facts:</p>
                <ul>
                    <li>
                        At the closest point to the Sun, the Martian southern hemisphere leans towards the Sun, causing a short, intensely hot summer, while the northern hemisphere endures a brief, cold winter: at its farthest point from the Sun, the Martian northern hemisphere leans towards the Sun, causing a long, mild summer, while the southern hemisphere endures a lengthy, cold winter.
                    </li>
                    <li>
                        The ancient Greeks called the planet Ares, after their god of war; the Romans then did likewise, associating the planet’s blood-red colour with Mars, their own god of war. Interestingly, other ancient cultures also focused on colour – to China’s astronomers it was ‘the fire star’, whilst Egyptian priests called on ‘Her Desher’, or ‘the red one’. The red colour Mars is known for is due to the rock and dust covering its surface being rich in iron.
                    </li>
                    <li>
                        Scientists have found tiny traces of Martian atmosphere within meteorites violently ejected from Mars, then orbiting the solar system amongst galactic debris for millions of years, before crash landing on Earth. This allowed scientists to begin studying Mars prior to launching space missions.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2 class="text-center">Possible Trajectories</h2>
    <div class="d-flex flex-column justify-content-lg-center mb-3">
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/mars1.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 7th of August, 2022</li>
                        <li>Arrival Date: 22nd of April, 2023</li>
                    </ul>
                </div>
                
            </div>
           
        </div>
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/mars2.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 26th of September, 2024</li>
                        <li>Arrival Date: 11th of June, 2025</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/mars3.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 15th of November, 2026</li>
                        <li>Arrival Date: 30th of July, 2027</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</div>