<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-3">
            <div class="container w-30 h-30">
                <p style="font-size: 0.9rem;font-style: italic;">
                    <img class="img-thumbnail" style="display: block;" src="assets/9548866024_d56936dc15_b.jpg" alt="Mercury">
                    <a href="https://www.flickr.com/photos/92800334@N02/9548866024">"Mercury"</a>
                    <span> by <a href="https://www.flickr.com/photos/92800334@N02">polaristest</a></span> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY-NC-ND 2.0</a>
                    <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;">
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nc_icon.svg" />
                    <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nd_icon.svg" /></a>
                </p>
            </div>
        </div>
        <div class="col-5 h-50">
            <h2>Mercury</h2>
            <div class="factoid overflow-auto">
                <p class="lead">A hidden gem at the very close region to the Sun.</p>
                <p>Some Facts:</p>
                {{!-- Facts from https://space-facts.com/mercury/ --}}
                <ol>
                    <li>Distance from the Sun: 35.98 million miles</li>
                    <li>6% the size of Earth, so any visitor would feel as light as a feather!</li>
                    <li>With a surface temperature of 427&deg;C in daylight and -173&deg;C at night, be prepared for some extreme temps.</li>
                    <li>Don't be worried that only two spacecraft have visited. Space is hard.</li>
                </ol>
                <p>With our travel package, be assured that we can handle the greatest extremes that Mercury presents.</p>
                <p>We strive to present Mercury in all his glory as we source the finest rockets to reach there in the shortest trips!</p>
                <p>Some more facts:</p>
                <ul>
                    <li>
                        One solar day (the time from noon tonoon on the planet’s surface) on Mercury lasts the equivalent of 176 Earth dayswhile the sidereal day (the time for 1 rotation in relation to a fixed point) lasts59 Earth days. Mercury is nearly tidally locked to the Sun and over time this has slowed the rotation of the planet to almost match its orbit around the Sun. Mercury also has the highest orbital eccentricity of all the planets with its distance from the Sun ranging from 46 to 70 million km.
                    </li>
                    <li>
                        Unlike many other planets which “self-heal” through natural geological processes, the surface of Mercury is covered in craters. These are caused by numerous encounters with asteroids and comets. Most Mercurian craters are named after famous writers and artists. Any crater larger than 250 kilometres in diameter is referred to as a Basin. The Caloris Basin is the largest impact crater on Mercury covering approximately 1,550 km in diameter and was discovered in 1974 by the Mariner 10 probe.
                    </li>
                    <li>
                        In recent years scientists from NASA have come to believe the solid iron core of Mercury could in fact be molten. Normally the core of smaller planets cools rapidly, but after extensive research, the results were not in line with those expected from a solid core. Scientists now believe the core to contain a lighter element such as sulphur, which would lower the melting temperature of the core material. It is estimated Mercury’s core makes up 42% of its volume, while the Earth’s core makes up 17%.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2 class="text-center">Possible Trajectories</h2>
    <div class="d-flex flex-column justify-content-lg-center mb-3">
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/mercury1.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 24th of November, 2020</li>
                        <li>Arrival Date: 8th of March, 2021</li>
                    </ul>
                </div>
                
            </div>
           
        </div>
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/mercury2.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 7th of November, 2021</li>
                        <li>Arrival Date: 26th of Feburary, 2022</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/mercury3.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 19th of October, 2022</li>
                        <li>Arrival Date: 3rd of Feburary, 2023</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
