<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-3">
            <div class="container w-30 h-30">
                <p style="font-size: 0.9rem;font-style: italic;">
                <img class="img-thumbnail" style="display: block;" src="assets/8262562988_e9d5cbfd98.jpg" alt="Venus Planet - Nasa Image Enhanced">
                <a href="https://www.flickr.com/photos/47738026@N05/8262562988">"Venus Planet - Nasa Image Enhanced"</a><span> by <a href="https://www.flickr.com/photos/47738026@N05">J.Gabás Esteban</a></span>
                 is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY-NC-SA 2.0</a>
                <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;">
                <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" />
                <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" />
                <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nc_icon.svg" />
                <img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-sa_icon.svg" /></a>
                </p>
            </div>
        </div>
        <div class="col-5 h-50">
            <h2>Venus</h2>
            <div class="factoid overflow-auto">
                <p class="lead">A Glorious Flight Amongst the Clouds.</p>
                <p>Some Facts:</p>
                {{!-- Facts from https://space-facts.com/venus/ --}}
                <ol>
                    <li>Distance from the Sun: 67.24 million miles</li>
                    <li>82% the size of Earth, a comfortable as can be outside of Earth</li>
                    <li>If you thought Mercury was hot, then Venus' 462&deg;C surface temps would be quite something.</li>
                    <li>There are plans to send automonous balloons to survey from the clouds.</li>
                </ol>
                <p>With our travel package, be assured that we can handle the greatest extreme that Venus presents.</p>
                <p>We strive to present Venus in all her glory as we source the finest rockets to reach there in the shortest trips!</p>
                <p>Some more facts:</p>
                <ul>
                    <li>
                        Early civilisations thought Venus was two different bodies. These were called Phosphorus and Hesperus by the Greeks, and Lucifer and Vesper by the Romans. When Venus’ orbit around the Sun overtakes Earth’s orbit, it changes from being visible after sunset to being visible before sunrise. Mayan astronomers made detailed observations of Venus as early as 650 AD.
                    </li>
                    <li>
                        In 2006, the Venus Express space craft was sent into orbit around Venus by the European Space Agency. Originally planned to last five hundred Earth days, the mission was extended several times before the craft was deorbited in 2015. More than 1,000 volcanoes or volcanic centres larger than 20 km have been found on the surface of Venus.
                    </li>
                    <li>
                        The Venera 1 space probe was launched in 1961, but lost contact with base. The USA also lost their first probe to Venus, Mariner 1, although Mariner 2 was able to take measurements of the planet in 1962. The Soviet Union’s Venera 3 was the first man-made craft to land on Venus in 1966.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2 class="text-center">Once in a Lifetime Possible Trajectory</h2>
    <div class="d-flex flex-column justify-content-lg-center mb-3">
        <div class="p-2 flex-fill">
            <div class="row">
                <div class="col-4 offset-md-1">
                    <img src="assets/trajectories/venus1.png" class="img-thumbnail w-70 h-65">
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Launch Date: 11th of October, 2021</li>
                        <li>Arrival Date: 5th of March, 2022</li>
                    </ul>
                </div>
                
            </div>
           
        </div>
        
    </div>
</div>