html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

table {
    flex-grow: 1;
    table-layout: auto;
    width: 50%;
    border-collapse: collapse;
    border: 3px ridge gray;
    padding: 10px;
    margin: 5px;
}

tbody tr:nth-of-type(2n) {
    background-color: lightgray;
}

tbody tr:nth-of-type(2n+1) {
    background-color: whitesmoke;
}

th, td {
    border: 3px ridge gray;
    padding: 5px;
    text-align: center;
    width: 150px;
}

form {
    width: 30%;
    overflow: auto;
    position: sticky;
}

form fieldset {
    width: auto;
    display: grid;
    padding: 5px;
    line-height: 18px;
}

form#editform {
    width: auto;
    margin: 3px;
}

form#mod {
    width: auto;
}

input.update {
    background-color: lightskyblue;
    margin-right: 2px;
    font-weight: bolder;
}

input.delete {
    background-color: lightcoral;
    margin-left: 2px;
    font-weight: bolder;
}

input[type=text], input[type=number], input[type=date], .unit {
    padding: 5px 0px;
    margin: 2px 0px;
}

label {
    padding: 5px 0px;

}

/* Modified Copy of https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
.cancel {
    padding: 0 3px;
    color: #aaa;
    float: inline-end;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cancel:hover,
  .cancel:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
