<form id="form">
    <fieldset>
        <legend>Add to the Your Workout:</legend>
        <label class="name">Name of Exercise:
            <input type="text" name="name" id="name" size="25" maxlength="100">
        </label>
        <label class="name">Number of Reps:
            <input type="number" name="reps" id="reps">
        </label>
        <br>
        <label class="weight">Weight:
            <input type="number" name="weight" id="weight">
        </label>
        <label class="date">Date:
            <input type="date" name="date" id="date">
        </label>
        <label class="unit">
            <p>Unit of measure?
                <label>
                    <input type="radio" name="lbs" id="lbs" value="1"/>Pounds
                </label>
                <label>
                    <input type="radio" name="lbs" id="lbs" value="0"/>Kilograms
                </label>
            </p>
        </label>
        <input type="submit" id="submit" name="submit" value="Add">
    </fieldset>
</form>
